.topbg {
	
}
.topw {
	FONT-SIZE: 10px; TEXT-DECORATION: none; COLOR: #3b4032; LINE-HEIGHT: 20px
}
.tabon A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #3b4032; PADDING-LEFT: 5px; LINE-HEIGHT: 35px; PADDING-RIGHT: 5px
}
.tabon A:hover {
	COLOR: #007208
}
.taboff A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #758755; PADDING-LEFT: 5px; LINE-HEIGHT: 35px; PADDING-RIGHT: 5px
}
.taboff A:hover {
	COLOR: #586640
}
.mailw {
	FONT-SIZE: 13px; COLOR: #3b4032; PADDING-LEFT: 15px
}
.w-1 A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #5c5a58
}
.w-1 A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #272727
}
.leftw-1 {
	FONT-SIZE: 11px; COLOR: #272727; PADDING-LEFT: 10px
}
.leftw-2 A {
	FONT-SIZE: 13px; TEXT-DECORATION: none; COLOR: #272727; PADDING-LEFT: 5px; LINE-HEIGHT: 28px
}
.leftw-2 A:hover {
	TEXT-DECORATION: underline
}
.box {
	BORDER-TOP: #818181 1px solid; BORDER-RIGHT: #818181 1px solid; BORDER-BOTTOM: #818181 1px solid; BORDER-LEFT: #818181 1px solid; BACKGROUND-COLOR: #ffead9
}
.functionw A {
	FONT-SIZE: 15px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #7f766e; PADDING-LEFT: 5px; LINE-HEIGHT: 25px
}
.functionw A:hover {
	TEXT-DECORATION: none; COLOR: #272727
}
.treebg {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.tb-1 {
	PADDING-TOP: 10px; PADDING-LEFT: 15px
}
.tbboder-1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BORDER-TOP: #6c6c6c 1px solid; BORDER-RIGHT: #6c6c6c 1px solid; BORDER-BOTTOM: #6c6c6c 1px solid; COLOR: #6c6c6c; BORDER-LEFT: #6c6c6c 1px solid; LINE-HEIGHT: 15px
}
.icon {
	FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 20px; COLOR: #5b5a58; LINE-HEIGHT: 20px
}
.ficonbox1 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/reply.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox11 {
	BACKGROUND-IMAGE: url(images/imagegb/reply-1.gif)
}
.ficonbox2 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/replyAll.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox22 {
	BACKGROUND-IMAGE: url(images/imagegb/replyAll-1.gif)
}
.ficonbox3 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/forward.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox33 {
	BACKGROUND-IMAGE: url(images/imagegb/forward-1.gif)
}
.ficonbox4 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/deleteMail.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox44 {
	BACKGROUND-IMAGE: url(images/imagegb/deleteMail-1.gif)
}
.ficonbox5 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/purge.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox55 {
	BACKGROUND-IMAGE: url(images/imagegb/purge-1.gif)
}
.ficonbox6 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/saveAs.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox66 {
	BACKGROUND-IMAGE: url(images/imagegb/saveAs-1.gif)
}
.ficonbox7 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/print.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox77 {
	BACKGROUND-IMAGE: url(images/imagegb/print-1.gif)
}
.ficonbox8 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/attach.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox88 {
	BACKGROUND-IMAGE: url(images/imagegb/attach-1.gif)
}
.ficonbox9 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/send.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox99 {
	BACKGROUND-IMAGE: url(images/imagegb/send-1.gif)
}
.ficonbox10 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/saveDraft.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox1010 {
	BACKGROUND-IMAGE: url(images/imagegb/saveDraft-1.gif)
}
.ficonbox11 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/send.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox1111 {
	BACKGROUND-IMAGE: url(images/imagegb/send-1.gif)
}
.ficonbox12 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/saveDraft.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox1212 {
	BACKGROUND-IMAGE: url(images/imagegb/saveDraft-1.gif)
}
.ficonbox13 {
	VERTICAL-ALIGN: top; BACKGROUND-IMAGE: url(images/imagegb/attach.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left top; TEXT-ALIGN: center; PADDING-TOP: 32px
}
.ficonbox1313 {
	BACKGROUND-IMAGE: url(images/imagegb/attach-1.gif)
}
.ficon {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #5b5a58; LETTER-SPACING: 1px
}
.ficon-1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BORDER-TOP: #fff4e9 1px solid; BORDER-RIGHT: #c1b8af 1px solid; WIDTH: 50px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #a19a92 1px solid; COLOR: #0000ff; TEXT-ALIGN: center; BORDER-LEFT: #c5bfb9 1px solid; LETTER-SPACING: 1px; LINE-HEIGHT: 20px
}
.ficon-1 A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; VERTICAL-ALIGN: middle; COLOR: #0000ff; TEXT-ALIGN: center; LETTER-SPACING: 1px; LINE-HEIGHT: 20px
}
.ficon-line {
	FONT-SIZE: 12px; BORDER-TOP: #c8c2bb 1px solid; BORDER-RIGHT: #c8c2bb 1px solid; BORDER-BOTTOM: #c8c2bb 1px solid; COLOR: #5b5a58; BORDER-LEFT: #c8c2bb 1px solid; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #f4ede6
}
.maillist-title {
	FONT-SIZE: 12px; TEXT-DECORATION: none; VERTICAL-ALIGN: middle; COLOR: #ffffff; TEXT-ALIGN: center; LETTER-SPACING: 1px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #5c5a58
}
.maillist-title A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; VERTICAL-ALIGN: middle; COLOR: #ffffff; TEXT-ALIGN: center; LETTER-SPACING: 1px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #5c5a58
}
.maillist-content {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BORDER-BOTTOM: #d4cec8 1px solid; COLOR: #6d6d6d; LINE-HEIGHT: 20px
}
.maillist-content A {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #6d6d6d; LINE-HEIGHT: 20px
}
.maillist-content A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #2e2c2a; LINE-HEIGHT: 20px
}
.maillist-content A:active {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #2e2c2a; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #ffe6d1
}
.maillist-content-1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; BORDER-BOTTOM: #d4cec8 1px solid; COLOR: #5c5a58; TEXT-ALIGN: right; LINE-HEIGHT: 20px
}
.maillist-tab {
	BORDER-BOTTOM: #d4cec8 1px solid; TEXT-ALIGN: center
}
.allmailw {
	FONT-SIZE: 12px; COLOR: #fe3c00; LINE-HEIGHT: 25px
}
.function-tabtitle {
	FONT-SIZE: 15px; TEXT-DECORATION: none; VERTICAL-ALIGN: middle; FONT-WEIGHT: bold; COLOR: #000000; TEXT-ALIGN: left; PADDING-LEFT: 10px; LETTER-SPACING: 1px; BACKGROUND-COLOR: #8d8680
}
.function-tabtitle A {
	FONT-SIZE: 15px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #e8e2db; LETTER-SPACING: 1px
}
.function-tabtitle A:hover {
	TEXT-DECORATION: underline; COLOR: #ffb62a
}
.function-content {
	FONT-SIZE: 12px; BORDER-TOP: #8d8680 1px solid; BORDER-RIGHT: #8d8680 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #8d8680 1px solid; COLOR: #6d6d6d; PADDING-LEFT: 10px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #e8e2db
}
.function-content-tb-1 {
	BORDER-TOP: #8d8680 1px solid; BORDER-RIGHT: #8d8680 1px solid; BORDER-BOTTOM: #8d8680 1px solid; BORDER-LEFT: #8d8680 1px solid; BACKGROUND-COLOR: #e8e2db
}
.function-content-bg-1 {
	FONT-SIZE: 13px; BORDER-BOTTOM: #8d8680 1px dotted; COLOR: #000000; PADDING-LEFT: 5px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #f6f1eb
}
.function-content-bg-1-1 {
	BORDER-LEFT: #8d8680 1px solid; BACKGROUND-COLOR: #f6f1eb
}
.function-content-bg-2 {
	FONT-SIZE: 13px; BORDER-BOTTOM: #8d8680 1px dotted; COLOR: #000000; PADDING-LEFT: 5px; LINE-HEIGHT: 25px
}
.function-content-bg-2-1 {
	BORDER-LEFT: #8d8680 1px solid
}
.mailcontent {
	BORDER-TOP: #bcb7b1 1px solid; BORDER-RIGHT: #bcb7b1 1px solid; BORDER-BOTTOM: #bcb7b1 1px solid; BORDER-LEFT: #bcb7b1 1px solid; BACKGROUND-COLOR: #ffffff
}
.function-content-tb-1-1 {
	BORDER-TOP: 0px; BORDER-RIGHT: 0px; BORDER-BOTTOM: 0px; BORDER-LEFT: #8d8680 1px solid
}
.function-content-tb-1-2 {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.function-content-tbtitle-1 {
	FONT-SIZE: 12px; HEIGHT: 20px; COLOR: #8d8680; TEXT-ALIGN: center; LETTER-SPACING: 2px; BACKGROUND-COLOR: #d4cec8
}
.function-tbcontent-1 {
	FONT-SIZE: 12px; COLOR: #8d8680; TEXT-ALIGN: left; PADDING-LEFT: 5px; BACKGROUND-COLOR: #f6f1eb
}
.funcation-tb1 {
	BORDER-TOP: #cde1a2 1px solid; BORDER-RIGHT: #cde1a2 1px solid; BORDER-BOTTOM: #cde1a2 1px solid; BORDER-LEFT: #cde1a2 1px solid; BACKGROUND-COLOR: #ffffff
}
.funcation-tb2 {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: left; PADDING-LEFT: 10px; BACKGROUND-COLOR: #ecf7d7
}
.funcation-tb3 {
	BORDER-TOP: #cde1a2 1px solid; BORDER-RIGHT: #cde1a2 1px solid; BORDER-BOTTOM: #cde1a2 1px solid; BORDER-LEFT: #cde1a2 1px solid; BACKGROUND-COLOR: #ffffff
}
.funcation-tb2 A {
	FONT-SIZE: 15px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #2b2d27
}
.funcation-tbtitle1 {
	FONT-SIZE: 15px; HEIGHT: 22px; VERTICAL-ALIGN: middle; BACKGROUND-IMAGE: url(images/leftbg-1.jpg); BACKGROUND-REPEAT: repeat-x; FONT-WEIGHT: bold; COLOR: #758755; TEXT-ALIGN: center; LETTER-SPACING: 2px
}
.funcation-tbtitle2 {
	FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #ffffff 1px solid; COLOR: #6b7a3d; TEXT-ALIGN: center; BORDER-LEFT: #ffffff 1px solid; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #bfd78b
}
.funcation-tbtitle3 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #cb0056
}
.funcation-content-1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 25px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #cde1a2 1px solid; COLOR: #6b6b6b; PADDING-LEFT: 10px; BORDER-LEFT: #cde1a2 1px solid; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ecf7d7
}
.funcation-content-2 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; HEIGHT: 25px; VERTICAL-ALIGN: middle; BORDER-BOTTOM: #cde1a2 1px solid; COLOR: #6b6b6b; PADDING-LEFT: 10px; BORDER-LEFT: #cde1a2 1px solid; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.funcation-content-3 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #6b7a3d; PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.funcation-content-4 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #6b7a3d; PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #d6eba8
}
.inputstyle {
	FONT-SIZE: 12px; BORDER-TOP: #758755 1px solid; BORDER-RIGHT: #758755 1px solid; BORDER-BOTTOM: #758755 1px solid; COLOR: #6b7a3d; BORDER-LEFT: #758755 1px solid
}
.icon-w1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #000000; LINE-HEIGHT: 20px
}
