@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
/* Google Fonts : Noto Sans TC（Chinese Traditional） */

body {
    margin: 0;
    background: #000000;
}

.txt {
	background: #000000;
	padding: 12px 0px;
	letter-spacing: 1px;
}

.txt h1 {
  font-size: 18px;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  color: #FCFCFC;
  text-align: center;
}